html {
    min-height: 100%;
    position: relative;
}

body { padding-bottom: 60px; }

/*Wrapping element 
 Set some basic padding to keep content from hitting the edges*/

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row-centered {
    text-align: center;
}

.secondnavbar
{
    top: 40px;
    z-index: -1;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */

input,
select,
textarea { max-width: 280px; }

.label { color: #337ab7; }

.inputname {
    Font
}

/* Sticky footer styles */

.footer {
    bottom: 10px;
    height: 40px;
    position: absolute;
}

.footer .text-muted {
    display: inline-block;
    margin: 0;
}

.body-content > .row:first-child { margin-bottom: 15px; }

.k-tabstrip ul li.k-item { width: 100px; }

h1 a {
    color: #e0e0e0;
    text-decoration: none;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}
h1 a:hover,
h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.img-responsive { padding-top: 25px; }

/* Styling menu toggle button */

.btn-toggle {
    box-shadow: none;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
}

.btn-toggle .k-icon { opacity: 1; }

.btn-toggle,
.btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
.btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
    border-radius: 0;
    box-shadow: none;
}

.btn-toggle .k-i-hbars,
.btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
.btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars { background-position: -80px -32px; }

/* Styling menu and header for smaller resolutions */

@media (max-width: 768px) {
    .k-header h1 {
        font-size: 18px;
        font-weight: lighter;
        margin: 0;
        padding: 16px 15px 14px 60px;
    }


    .k-rpanel {
        box-sizing: border-box;
        position: relative;
    }

    .k-rpanel .k-menu {
        box-sizing: border-box;
        display: block;
        float: none;
    }

    .k-rpanel .k-menu .k-item {
        clear: both;
        display: block;
        float: none;
        width: 100%;
    }
}