@using EMDB
@model System.Collections.Generic.List<Plot>

    @{
        ViewBag.Title = "Inputs";
        Layout = "_Layout";
    }

<h2>title</h2>
       
                @for (var index = 0; index < Model.Count; index = index + 1)
                {
                    @*<div class="col-sm-4 col-md-3 col-lg-2 text-center top10" style="background-color: paleturquoise;">*@
                    <div class="col-sm-4 col-md-3 col-lg-2 text-center top10" >

                        @{
                            var input = Model[index];
                            string inputClean = input.Name.Replace(' ', '_');
                        }

                        <h4>@input.Name</h4>

                        @(Html.Kendo().LinearGauge()
                              .Name($"gauge{inputClean}")
                              .Pointer(pointer => pointer
                                  .Value(input.Value)
                                  .Color("#4189f4")
                                  .Size(10)
                              )
                              .Scale(scale => scale
                                  .MajorUnit(2000)
                                  .MinorUnit(500)
                                  .Min(0)
                                  .Max(12000)
                                  .Vertical(false)

                                  .Ranges(ranges =>
                                  {
                                      ranges.Add().From(0).To(2000).Color("#00FF00");
                                      ranges.Add().From(2000).To(5000).Color("#f4e242");
                                      ranges.Add().From(5000).To(10000).Color("#ff7a00");
                                      ranges.Add().From(10000).To(12000).Color("#c20000");
                                  }
                                  )
                              )

                              )

                        <h6>@input.Value</h6>
                    </div>
                  
                        }                       

    <script>
    function callControllerMethod(value1 , value2) {
        var strMethodUrl = '@Url.Action("ValidInputs", "Grid")';
        $.getJSON(strMethodUrl, receieveResponse);
    }

    function receieveResponse(response) {


    }
    //$(document).ready(function() {
    //        callControllerMethod();
    //    }
    //);
    </script>

